.weather {
  place-self: center;
  padding: 50px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #95d6ea, #62a1c7);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-bar input {
  height: 50px;
  padding-left: 25px;
  border: none;
  outline: none;
  border-radius: 40px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}

.search-bar img {
  width: 46px;
  height: 46px;
  padding: 14px;
  border-radius: 50%;
  background: #ebfffc;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  
}

.sun-icon {
  width: 110px;
  margin: 30px auto;
}
.temperature {
  color: white;
  font-size: 50px;
  line-height: 1;
}

.location {
  color: #fff;
  font-size: 25px;
  margin-top: 10px;
}
.weather-info {
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.weather-info .col {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 22px;
}

.weather-info .col span {
  display: block;
  font-size: 16px;
}

.weather-info .col img {
  width: 26px;
  margin-top: 10px;
}
